<div class = "container col-md-6 main-container">
      <form (ngSubmit) = "creaFolio()">
       <div class="form-row">
          <div class="form-group col-md-6">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="Nombre" [(ngModel)]="cliente.nombre" name="nombre">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="apellidoPat">Paterno</label>
            <input type="text" class="form-control"  placeholder="ApellidoPat" [(ngModel)]="cliente.apellidoPat" name="apellidoPat">
          </div>
          <div class="form-group col-md-6">
            <label for="apellidoMat">Materno</label>
            <input type="text" class="form-control" placeholder="ApellidoMat" [(ngModel)]="cliente.apellidoMat" name="apellidoMat">
          </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="telefono">Telefono</label>
              <input type="text" class="form-control"  placeholder="Telefono" [(ngModel)]="cliente.telefono" name="telefono">
            </div>
            <div class="form-group col-md-6">
              <label for="correo">Correo</label>
              <input type="text" class="form-control" placeholder="Correo" [(ngModel)]="cliente.correo" name="correo">
            </div>
          </div>
         
             <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      
    
    </div>
    
