<div class = "container col-md-6 main-container">
  <form>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputState">Tipo de equipo</label>
        <select id="inputState" class="form-control">
          <option selected>Secciona tipo</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail4">Folio</label>
        <input type="folio" class="form-control" id="inputEmail4" placeholder="No.Folio">
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Marca</label>
          <input type="marca" class="form-control" id="inputEmail4" placeholder="Marca">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Modelo</label>
          <input type="modelo" class="form-control" id="inputPassword4" placeholder="Modelo">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputPassword4">Color</label>
          <input type="colorEquipo" class="form-control" id="inputPassword4" placeholder="color">
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail4">No.Serie</label>
          <input type="nSerie" class="form-control" id="inputEmail4" placeholder="No.Serie">
        </div>
      </div>
     
         <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
  

</div>
