<nav class="navbar navbar-expand-lg navbar-dark bg-info" >

  <div class="container h-100">
    <div class="col-sm-12 align-self-left text-left">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
   
  <a class="navbar-brand" href="#">
    <img src="assets/img/logo.png" width="50" height="40" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" routerLinkActive = "active">
          <a class="nav-link" [routerLink]="['home']">Inicio<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive = "active">
          <a class="nav-link" [routerLink]="['ingresaEquipo']" >Recepcion de Equipo</a>
        </li>
        <li class="nav-item" routerLinkActive = "active">
          <a class="nav-link" [routerLink]="['ingresaCliente']">Gestion de Clientes</a>
        </li>
        <li class="nav-item" routerLinkActive = "active">
          <a class="nav-link" [routerLink]="['folios']">Gestion de Folios</a>
        </li>
       
      </ul>
      </div>
    
    </div>
  </div>
 

</nav>