<div class="container main-container">
    <div class="card bg-light mb-3" >
        <div class="card-header">Clientes</div>
        <div class="card-body">
          <h5 class="card-title"></h5>

<table class="table table-bordered table-striped">
  <thead>
<tr>
  <th>Nombre</th>
  <th>Paterno</th>
  <th>Materno</th>
  <th>Telefono</th>
  <th>Correo</th>
</tr>
  </thead>
<tbody>
  <tr *ngFor="let item of clientes">
    <td>{{item.nombre}}</td>
    <td>{{item.apellidoPat}}</td>
    <td>{{item.apellidoMat}}</td>
    <td>{{item.telefono}}</td>
    <td>{{item.correo}}</td>

  </tr>
</tbody>
</table>

   </div>
   </div>
    
</div>
