

<div class = "container col-md-6 main-container">


  <form *ngIf="!cargaImagen" [formGroup]="formFolio" (ngSubmit) = "creaFolio()">

  <mat-card-header>
    <mat-card-title>Alta de folios</mat-card-title>
  </mat-card-header>
<hr>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4"><b>Folio:</b> {{folio.folio}}</label>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4" ><b>Fecha:</b> {{fecha | date:'yyyy-MM-dd'}}</label>
    </div>
  </div>
  <mat-tab-group dynamicHeight>
    
    <mat-tab label="Datos del Cliente"> 
      
      <div class = "main-container">
        <button class="btn btn-rounded btn" type="button" (click) = "addClient()" ><img class="box" src="assets/img/mas.png"></button>
      </div> 
  
      <div class="form-row">
        <div class="form-group col-md-5">
          <mat-label><b>Num. Cliente:</b> {{cliente.id}}</mat-label>
        </div>
        <div class="form-group col-md-4">
          <mat-label><b>Nombre:</b> {{nombreCliente}} {{apellidoPatCliente}} {{apellidoMatCliente}}</mat-label>
        </div>
      </div>
    
    </mat-tab>
    <mat-tab label="Datos del Equipo"> 

      <div class="form-row main-container">
        <div class="form-group col-md-5">
          <mat-form-field>
            <mat-label>Tipo de equipo</mat-label>
            <mat-select [(ngModel)]="selectedTipoEquipo.id"  #t (selectionChange)="capturar(t.value)" formControlName="tipoEquipo">
              <mat-option *ngFor="let tipo of tipoEquipo" [value]="tipo.tipoEquipo">
                {{tipo.tipoEquipo}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
        </div>
        
  
        <div class="form-group col-md-3">
          <mat-form-field>
            <mat-label>Marca</mat-label>
            <mat-select [(ngModel)]="selectedMarca.id"  #m (selectionChange)="capturarMarca(m.value)" formControlName="marca" >
              <mat-option *ngFor="let tipo of marca" [value]="tipo.marca">
                {{tipo.marca}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          
        </div>
  
      </div>
     
      <div class="form-row">
     
        <div class="form-group col-md-5">
            <mat-form-field class="example-full-width">
              <label for="inputPassword4">Modelo</label>
             <input matInput id="modelo" [(ngModel)]="folio.modelo" name="modelo" formControlName="modelo">
           </mat-form-field>
       </div>

        
       <div class="form-group col-md-3">
            <mat-form-field class="example-full-width">
              <label for="inputPassword4">No.Serie</label>
             <input matInput id="modelo" [(ngModel)]="folio.numSerie"  name="numSerie" formControlName="numSerie">
           </mat-form-field>
       </div>

      

      </div>

      <div class="form-row">
        <div class="form-group col-md-3">
          <!--<mat-form-field class="example-full-width">
            <label for="inputPassword4">Comentarios</label>
           <input matInput id="comentarios" [(ngModel)]="folio.comentarios"  name="comentarios" formControlName="comentarios">
         </mat-form-field>-->
         <mat-form-field>
          <mat-label>Comentarios</mat-label>
          <textarea  matInput id="comentarios" [(ngModel)]="folio.comentarios"  name="comentarios" formControlName="comentarios"></textarea>
        </mat-form-field>
       </div>
      </div>


      <br>
      <div class="form-group col-md-10">
         <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </mat-tab>
    
  </mat-tab-group>

   
    </form>

    
      
    <div *ngIf="cargaImagen">
      <mat-card-header>
        <mat-card-title>Carga de imagenes</mat-card-title>
      </mat-card-header>
      <div mode="buffer" *ngFor="let progress of progressInfo">
        <span>{{progress.fileName}}</span>&nbsp;
        <span>{{progress.value}}%</span>
        <div id="progressbar">
            <mat-progress-bar mode="buffer" value={{progress.value}}>
            </mat-progress-bar>
        </div>
      </div>
      <div id="box2">
          <button id="selectButton" mat-raised-button (click)="fileInput.click()">Seleccionar</button>
    
          <input #fileInput type="file" hidden multiple (change)="selectFiles($event)" />
          <span *ngIf="fileName">{{fileName}}
            <button id="uploadButton" mat-raised-button *ngIf="selectedFiles" [disabled]="!selectedFiles" (click)="uploadFiles()">
          <mat-icon>file_upload</mat-icon>
        </button>
      </span>
      </div>
      <span>{{message}}</span>
      <div class="form-group col-md-10">
        <button class="btn btn-rounded btn-primary" type="button" (click)="actualizarBoolean()">Crear nuevo folio</button>
     </div>
     </div>  
    

    
    

</div>

