<div class="container main-container">
    <div class="card bg-light mb-3" >
        <div class="card-header">Folios

        </div>
        <div class="card-body">
          <div class="card-header">
            <button class="btn btn-rounded btn-secondary" type="button" [routerLink] = "['/ingresaEquipo']">Nuevo Folio</button>
          </div> 
     
          <div>
            <table class="table table-bordered table-striped">
              <tr>
                <th>Folio</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>TipoEquipo</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Num.Serie</th>
              </tr>
              <tr *ngFor="let folio of folios">
                <td>
                  {{folio.folio}}
                </td>
                <td>
                  {{folio.fecha | date:'yyyy-MM-dd'}}
                </td>
                <td>
                  {{folio.cliente.nombre}} {{folio.cliente.apellidoPat}}
                </td>
                <td>
                  {{folio.tipoEquipo}}
                </td>
                <td>
                  {{folio.marca}}
                </td>
                <td>
                  {{folio.modelo}}
                </td>
                <td>
                  {{folio.numSerie}}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    
  

</div>
