<div class="container main-container">
    <div class="card bg-light mb-3" style="max-width: 37rem;">
        <div class="card-header">Folios</div>
        <div class="card-body">
          <div class="card-header">
            <button class="btn btn-rounded btn-secondary" type="button" [routerLink] = "['/ingresaEquipo']">Nuevo Folio</button>
          </div> 
          
          <div>
            <table class="table" style="width: 80%">
              <tr>
                <th>Nombre</th>
                <th>Materno</th>
                <th>Paterno</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th></th>
              </tr>
              <tr *ngFor="let folio of folios">
                <td>
                  {{folio.nombre}}
                </td>
                <td>
                  {{folio.apellidoPat}}
                </td>
                <td>
                  {{folio.apellidoMat}}
                </td>
                <td>
                  {{folio.telefono}}
                </td>
                <td>
                  {{folio.correo}}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    
  

</div>
